= form_tag sessions_path, method: 'POST' do
  %h2 Login
  - if flash[:error]
    = flash[:error]
  %br
  = text_field_tag :username, '', placeholder: 'me@example.com', class: 'form-control'
  = password_field_tag :password, '', placeholder: 'password', class: 'form-control'
  %button Login
